.menu-item-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $menu-link-height;
  max-height: $menu-link-height;
  background: $menu-link-bg;
  padding: 0 $menu-link-padding-x;
  text-align: left;
  border: 0;
  outline: 0 !important;
  
  cursor: pointer !important; // Add this line to your code
  
  // More code ....  
}
